{% extends "pages/tools/_tool_base.jinja" %}
{% block tool_form %}
{% set accept = ".pdf" %}
{% include "components/upload_zone.jinja" %}
<p class="text-xs text-gray-500 mt-2">Free: first page preview. Pro: full document.</p>
{% endblock %}
{% block submit_label %}Convert to Word{% endblock %}
