{% extends "pages/tools/_tool_base.jinja" %}
{% block processing_text %}Removing background…{% endblock %}
{% block tool_form %}
{% set accept = ".jpg,.jpeg,.png,.webp" %}
{% include "components/upload_zone.jinja" %}
<p class="text-xs text-gray-500 mt-2">Output: PNG with transparent background. Works best on people and objects.</p>
{% endblock %}
{% block submit_label %}Remove background{% endblock %}
